@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #D2962D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-inspo: var(--font-inspiration);
  --font-junge: var(--font-junge);
  --color-primary: #D2962D;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
