@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #D2962D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-inspo: var(--font-inspiration);
  --font-junge: var(--font-junge);
  --color-primary: #D2962D;
  --color-gray: #403F3F;
  --color-secondary: #CE927E;
}

@layer utilities {
  .card{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    background-color: #FCFBF8;
    border-radius: 2px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
